*, html, body { margin:0; padding:0; }
div.container { 
    width:1280px;
    height:720px;
    padding:20px;
    background-image:url('/img/background.png'); 
}
div#left-column {
    float:left;
    padding:10px;
}
div#left-column img {
    width:200px;
}

table.ranking {
    margin:40px 120px;
    width:900px;
    height:640px;
}

tr {
    font-size: 1.3em;
}

tr .rank {
    width: 15%;
    height: 10%;
    background: #5e6fc7;
    padding: 10px;
    border: 4px outset #5e6fc7;
    margin-bottom: 10px;
    text-align: center;
    color: white;

}

tr .name{
    width: 40%;
    height: 10%;
    background: #1a2670;
    border: 4px outset #0e1ac1;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: yellow;
}

td.count{
    width: 15%;
    color:black;
    background: #1a2670;
    border: 4px outset #0e1ac1;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

tr .time{
    width: 15%;
    height: 10%;
    text-align: right;
    background: #1a2670;
    border: 4px outset #0e1ac1;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

td p {
    margin:0 auto;
}

.hidden {
    display:none;
}
